<!DOCTYPE html>

<html ng-app = 'main_module'>
    <head>
        <meta charset = "utf-8">
        <title>Angular Frontend</title>
        <link href = "/frontend/css/bootstrap.min.css" type="text/css" rel="stylesheet">
        <link href = "/frontend/css/bootstrap-theme.min.css" type="text/css" rel="stylesheet">
        <link href = "/frontend/css/angular-flash.min.css" type="text/css" rel="stylesheet">
        <link href = "/frontend/css/style.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <!--This is a placeholder for our views in this app-->
        <div ng-view></div>
        <script src = "/frontend/lib/jquery-2.1.4.min.js"></script>
        <script src = "/frontend/lib/angular.min.js"></script>
        <script src = "/frontend/lib/angular-route.min.js"></script>
        <script src = "/frontend/lib/angular-resource.min.js"></script>
        <script src = "/frontend/lib/angular-flash.min.js"></script>
        <script src = "/frontend/modules/mainModule.js"></script>
        <script src = "/frontend/controllers/loginController.js"></script>
        <script src = "/frontend/factories/loginFactory.js"></script>
        <script src = "/frontend/controllers/friendDataController.js"></script>
        <script src = "/frontend/factories/friendDataFactory.js"></script>
        <script src = "/frontend/controllers/editController.js"></script>
        <script src = "/frontend/controllers/addController.js"></script>
        <script src = "/frontend/controllers/deleteController.js"></script>
    </body>
    <footer data-dummy="">
            <p>Copyright 2016 by Hannu Lisko</p>    
    </footer>
</html>