<ng-include src="'navbar.html'"></ng-include>
<div class= "table_container">
    <h1>Delete friends</h1>
    <p>To edit or delete entries, click a row.</p>
    <table class = 'table table-hover'>
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Age</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat='person in friendData' ng-click='rowClicked(person._id)'>
                <td>{{person.name}}</td>
                <td>{{person.address}}</td>
                <td>{{person.age}}</td>
                <td>{{person.email}}</td>
                <td><input type="checkbox" ng-click='addToDelete($event,$index,person._id)'></td>
            </tr>
        </tbody>
    </table>
    <input class = "btn btn-default" type = "button" value = "Delete selected" ng-click="sendToDelete()">
</div>